.button {
    width: 100%;
    height: var(--base-element-height);
    border: 1px solid var(--base-element-border-color);
    border-radius: calc(var(--base-element-height) / 2);
    margin-top: var(--base-space);

    line-height: var(--base-element-height);
    font-size: var(--base-font-size);
    color: var(--base-inverted-font-color);
    text-align: center;
    padding: 0 calc(var(--base-element-height) / 2);

    background: var(--base-element-color);
}

.button:focus {
    outline: none;
    border: 1px solid var(--base-outline-color);
}

.button:hover {
    cursor: pointer;
}
